aioredis==2.0.1
aiologger===0.6.1
alembic==1.7.1
Authlib==1.1.0
anyio==3.6.1
asyncpg==0.25.0
fastapi==0.78.0
celery==5.2.2
gunicorn==20.1.0
httpx==0.23.0
ipython==7.31.1
itsdangerous==1.1.0
orjson==3.7.2
psycopg2==2.8.6
pytest==6.2.5
pytest-asyncio==0.18.3
pytest-cov==3.0.0
redis==4.3.1
requests==2.24.0
SQLAlchemy==1.4.36
uvicorn==0.17.6
passlib==1.7.4
bcrypt==3.2.2
sqlalchemy-utils==0.38.2
python-multipart==0.0.5
pyjwt==2.4.0
psutil==5.8.0
websockets==10.3
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.5 # not directly required, pinned by Snyk to avoid a vulnerability
